canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}

#playbutton {
    width: 80px;
    height: 30px;
    display: block;
    margin: 10px auto auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}