@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://use.typekit.net/vps6nkr.css");

body {
    background: url("../media/bg.svg");
    background-size: cover;
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

button {
    transition: background-color 0.5s, width 0.5s, height 0.5s, padding 0.3s;
}

.tutorial img {
    width: 30px;
    height: 30px;
    margin-bottom: -8px;
    margin-left: 10px;
}

.tutorial {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 45%;
    height: 850px;
    margin-top: 50px;
    background-color: #1d2934;

    border: 5px solid #c9cfe0;
    border-radius: 20px;

    opacity: 1;
    visibility: hidden;

    z-index: 2;
    transition: opacity ease-in-out 0.6s;
}

.tutorial-content {
    color: white;
    font-family: 'Adelle', serif;
    margin: 20px auto auto;
    width: 70%;

    word-wrap: break-word;
}


.tutorial h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;

    text-decoration: underline;
}

.tutorial p {
    line-height: 25px;
}

.close-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #d8202f;
    color: #EBEBEB;
    border: none;
    border-radius: 15px;
    padding: 20px 50px;
    margin: 50px auto 70px;
    float: bottom;

    font-family: "Adelle", serif;
    font-size: 15px;
}

.close-btn:hover {
    background-color: #931616;
}

canvas {
    display: block;
    margin: auto;
}

.ui-btn {
    width: 70px;
    height: 70px;
    margin: 5px;
    display: block;
    cursor: pointer;
    background-color: #082336;
    border-radius: 10px;
    border: 4px outset #efefef;
}

.filter-white {
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(141deg) brightness(112%) contrast(101%);
    width: 38px;
}

.ui-btn:disabled {
    border-style: inset;
    opacity: 0.6;
}

.ui-btn:hover {
    border-style: inset;
}

#info-btn {
    background-color: #21b3c2;
}

#play-btn {
    background-color: #54882e;
}

#retry-btn {
    background-color: #e04f0d;
}

#home-btn {
    background-color: #1D2934FF;
}

.center-container {
    display: block;
    width: min-content;
    margin: auto;
}

.season-image-container {
    width: 100px;
    height: 100px;
    display: block;
    margin: 8px;
}

#season-img {
    width: 100%;
    height: 100%;
    display: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 2.7fr 0.7fr;
    gap: 0 0;
    grid-template-areas:
    "season game ui-right"
    ". game ui-right"
    "credits game buttons";

    font-family: 'Press Start 2P', cursive;
}

.season {
    grid-area: season;
    background-color: #1d2934;
    color: #EBEBEB;
    display: block;
    float: right;
    border: 10px groove #4D6D87;
    margin: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.game-area {
    grid-area: game;
}

.game {
    border: 20px groove #c74024;

    height: 92vh;
    width: 40vw;
    max-width: 600px;


    background: url("../media/game-bg.svg");
    background-size: cover;

    opacity: 1;
    transition: opacity ease-in-out 1.5s;
}

.ui-right {
    grid-area: ui-right;
}

.score {
    background-color: #c9ec8c;
    border: 10px groove #8AB825;
    margin: 20px;
    padding: 30px;
    height: 50px;
    width: 150px;
}

.timer {
    background-color: #8cecb9;
    border: 10px groove #25b87b;
    margin: 20px;
    padding: 30px;
    height: 15px;
    width: 150px;


    text-align: center;
}

.score * {
    margin: 5px;
}

.food-name {
    background-color: #f5d9a8;
    border: 10px groove #ec6a0d;
    margin: 20px;
    padding: 30px;
    height: 15px;
    width: 200px;

    text-align: center;
}

.buttons {
    grid-area: buttons;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    min-width: 0;
    height: 80%;
    max-height: 400px;

}

.credits-area {
    grid-area: credits;
    position: relative;
}

.credits {
    position: absolute;
    bottom: 0;

    font-family: 'Adelle', serif;
    text-align: center;
    color: #EBEBEB;
}

.credits a {
    color: #ff8a15;
}

.results {
    position: relative;
    font-family: 'Adelle', serif;
    color: #1d2934;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "results-txt result-list"
    ". result-list";
    max-height: 100%;
}

.results h1 {
    font-size: 80px;
}

.results-txt h2 {
    margin-top: 100px;
}

.results-txt {
    grid-area: results-txt;
    margin-top: 150px;
    margin-left: 100px;
}

.results-container {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    width: 85%;
    height: 850px;
    margin-top: 50px;

    opacity: 0;
    visibility: hidden;

    z-index: 1;
    transition: opacity ease-in-out 1.5s;
}

.results-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/result-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}


.co2 {
    font-size: 60px;
    font-weight: bold;
}

.results-list {
    grid-area: result-list;
    background-color: rgba(255, 110, 110, 0.5);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.results-list * {
    min-width: 0;
    min-height: 0;
    word-wrap: break-word;
    max-width: 100%;

}

.results-list h2 {
    text-align: center;

    font-size: 40px;
    padding: 0;
}

#wrong-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: center;
}

.wrong-item {
    padding: 5px;
}

.wrong-item::after {
    content: ", ";
}

.wrong-item img {
    width: 40px;
    height: 40px;
}

.back-btn {
    background-color: #37b44a;
    color: #EBEBEB;
    border: none;
    border-radius: 15px;
    padding: 20px 50px;
    margin-top: 150px;

    font-family: "Adelle", serif;
    font-size: 20px;
}

.back-btn:hover {
    background-color: #3e8d45;
}


@media only screen and (max-width: 1200px) {
    .center-container {
        width: 100%;
        height: 100vh;
    }

    .container {
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr 8fr 1fr auto;
        gap: 0 0;
        grid-template-areas:
        "ui-right season"
        "game game"
        "buttons buttons"
        "credits credits";

        font-family: 'Press Start 2P', cursive;
        width: 100%;
        height: 100%;
    }

    .game {
        max-width: 100%;
        width: 100%;
        height: 97.7%;
        padding: 0;
    }

    .game-area {
        background-color: #1d2934;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .ui-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        min-width: 0;
        font-size: 18px;

    }

    .ui-right div {
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 150px;
        margin: auto;
        width: 100%;
        flex-direction: row
    }

    .ui-btn {
        width: 20%;
        height: 100%;
    }

    .results-container {
        height: 60%;
        width: 95%;
        margin: auto;
    }

    .results {
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 2fr;
        grid-template-areas:
    "results-txt"
    "result-list";
    }


    .results-list {
        border-radius: 0 0 50px 50px;
        padding-bottom: 40px;
    }

    .back-btn {
        margin-top: 50px;
    }
}