@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://use.typekit.net/vps6nkr.css");

body {
    overflow: hidden;
    background: url("../media/bg.svg");
    background-size: cover;
}

canvas {
    display: block;
    margin: auto;
}

.ui-btn {
    width: 70px;
    height: 70px;
    margin: 30px 20px;

    display: block;
    cursor: pointer;
    background-color: #082336;
    border-radius: 10px;
    border: 4px outset #efefef;
}

.filter-white {
    filter: invert(100%) sepia(1%) saturate(7500%) hue-rotate(141deg) brightness(112%) contrast(101%);
    width: 38px;
}

.ui-btn:disabled {
    border-style: inset;
    opacity: 0.6;
}

.ui-btn:hover {
    border-style: inset;
}

#play-btn {
    background-color: #54882e;
}

#retry-btn {
    background-color: #e04f0d;
}

#home-btn {
    background-color: #1D2934FF;
}

.center-container {
    display: block;
    width: min-content;
    margin: auto;
}

.season-image-container {
    width: 100px;
    height: 100px;
    display: block;
    margin: 8px;
}

#season-img {
    width: 100%;
    height: 100%;
    display: none;
}

.container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 2.7fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
    "season game ui-right"
    ". game ui-right"
    ". game buttons";

    font-family: 'Press Start 2P', cursive;
}

.season {
    grid-area: season;
    background-color: #1d2934;
    color: white;
    display: block;
    float: right;
    border: 10px groove #4D6D87;
    margin: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.game {
    grid-area: game;
    border: 20px groove #c74024;

    background: url("../media/game-bg.svg");
    background-size: cover;
}

.ui-right {
    grid-area: ui-right;
}

.score {
    background-color: #c9ec8c;
    border: 10px groove #8AB825;
    margin: 20px;
    padding: 30px;
    height: 50px;
}

.timer {
    background-color: #8cecb9;
    border: 10px groove #25b87b;
    margin: 20px;
    padding: 30px;
    height: 15px;

    text-align: center;
}

.score * {
    margin: 5px;
}

.buttons {
    grid-area: buttons;
    margin-top: auto;
    margin-bottom: auto;
}

.results {
    position: relative;
    font-family: 'Adelle', serif;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "results-txt result-list"
    ". result-list";
    max-height: 100%;
}

.results h1 {
    font-size: 80px;
}

.results-txt h2 {
    margin-top: 100px;
}

.results-txt {
    grid-area: results-txt;
    margin-top: 150px;
    margin-left: 100px;
}

.results-container {
    position: relative;
    width: 95%;
    height: 850px;
    margin-top: 50px;

    display: none;
}

.results-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('../media/result-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}


.co2 {
    font-size: 60px;
    font-weight: bold;
}

.results-list {
    grid-area: result-list;
    background-color: rgba(255, 110, 110, 0.5);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.results-list * {
    min-width: 0;
    min-height: 0;
    word-wrap: break-word;
    max-width: 100%;

}

.results-list h2 {
    text-align: center;

    font-size: 40px;
    padding: 0;
}

#wrong-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: center;
}

.wrong-item {
    padding: 5px;
}

.wrong-item::after {
    content: ", ";
}

.wrong-item img {
    width: 40px;
    height: 40px;
}

.wrong-item-text {
}